.about {
  margin: 6rem 0;
  border-bottom: 1px solid #a1a1a140;
  border-top: 1px solid #a1a1a140;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  p {
    width: 70%;
  }

  img {
    max-width: 69.2rem;
  }
}
