* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1;
}

body {
  background-color: $main-color;
  background-image: url(../img/bg.png);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  z-index: -10;
  color: #fff;
  background-attachment: fixed;
}

.container {
  max-width: $website-width;
  overflow: hidden;
  padding: 0 1.5rem;
  margin: auto;
}

// button
%btn-shared {
  display: inline-block;
  padding: 1.5rem 3rem;
  cursor: pointer;
  border: none;
  align-self: center;
  text-transform: uppercase;
  font-size: 1.5rem;

  &:hover {
    filter: brightness(0.8);
  }
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #000;
    background: $secondry-color;
    letter-spacing: 1.5px;
  }
}
// padding & margin
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

.heading {
  &-1 {
    font-size: 6rem;
  }
  &-2 {
    font-size: 4rem;
  }
  &-3 {
    font-size: 2rem;
  }
}
// background
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-secondry {
    background: $secondry-color;
    color: set-text-color($secondry-color);
  }
}
