$website-width: 1280px;
$main-color: #1c1c1c;
$secondry-color: #ff59c8;

// function
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
